/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-yeoman"></i>
```
*/
[class*="icon-"] {
	display: inline-block;
}

{{#items}}
.{{name}} {
	width: {{px.width}};
	height: {{px.height}};
	background: transparent url("{{{escaped_image}}}") {{px.offset_x}} {{px.offset_y}} no-repeat;
	content: '';
}
{{/items}}
